@model Models.Entrada.PersonaDTO
@{
	Layout = "_Layout";
}


<form method="post" class="needs-validation container" enctype="multipart/form-data" id="Registrar" asp-controller="Usuarios" asp-action="RegistrarUsuario">
	<header class="row">
		<h1 class="border-bottom-required">Registro Usuario</h1>
	</header>
	<div style='text-align:right' class="rows">
		<p>Los campos marcados con <span class="asterisco">*</span> son obligatorios</p>
	</div>
	<hr />
	@Html.AntiForgeryToken()

	<div id="camposObligatorios" style="display:none" class="alert alert-danger alert-dismissible" role="alert">
		<div>Existen campos obligatorios sin diligenciar.</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<div id="camposAdcionales" style="display:none" class="alert alert-danger alert-dismissible" role="alert">
		<div>Debe diligenciar al menos un campo de informacion de contacto.</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>



	@if (ViewBag.codigo = true)
	{

		<div class="alert alert-danger" role="alert" style="display:none">
			Ya existe un usuario con el numero de identificacion registado
		</div>
	}


	@if (ViewBag.codigo = false)
	{
		<div class="alert alert-success" role="alert" style="display:none" >
			Se creo correctamente el usuario
		</div>
	}




	<div class="row">
		<div class="col-sm-5 col-md-6">
			<label asp-for="Nombre" col-form-label">Nombre<span style="color: red;">*</span></label>
			@Html.TextAreaFor(m => m.Nombre, new{@id="Nombre", @name="Nombre", @class="form-control"})
			@Html.ValidationMessageFor(m => m.Nombre,  "", new {@class = "text-danger" })
		</div>

		<div class="col-sm-5 col-md-6">
			<label asp-for="Lugar" col-form-label">Apellido<span style="color: red;">*</span></label>
			@Html.TextAreaFor(m => m.Apellido, new{@id="Apellido", @name="Apellido", @class="form-control"})
			@Html.ValidationMessageFor(m => m.Apellido,  "", new {@class = "text-danger" })
		</div>

		<div class="col-sm-5 col-md-6">
			<label asp-for="Numero de documento" col-form-label">Número de documento<span style="color: red;">*</span></label>
			@Html.TextAreaFor(m => m.NumDocumento, new{@id="NumDocumento", @name="NumDocumento", @class="form-control"})
			@Html.ValidationMessageFor(m => m.NumDocumento,  "", new {@class = "text-danger" })
		</div>

		<div class="col-sm-4">
			<label asp-for="FechaNacimiento" col-form-label">Fecha Nacimiento (dd/mm/aaaa)</label>
			@Html.TextBoxFor(model => model.FechaNacimiento, new { @type = "date",  @class="form-control" })
			@Html.ValidationMessageFor(m => m.FechaNacimiento,  "", new {@class = "text-danger"})
		</div>

		<div class="col-sm-4">
			<label asp-for="correo" col-form-label">Correo Electronico</label>
			<input type="text" name="InfoContacto[0].correo" id="correo1" class="form-control" />
			@Html.ValidationMessageFor(m => m.InfoContacto[0].correo,  "", new {@class = "text-danger"})
		</div>

		<div class="col-sm-4">
			<label asp-for="NumTelefono" col-form-label">Número Telefonico</label>
			<input type="tel" name="InfoContacto[0].numeroTelefono" id="NumTelefono1" class="form-control" />
		</div>

		<div class="col-sm-4">
			<label asp-for="Direccion" col-form-label">Dirección de residencia</label>
			<input type="text" name="InfoContacto[0].direccionResidencia" id="Direccion1" class="form-control" />
		</div>

		<div class="form-group"><br></div>

		<h2>Informacion Adicional</h2>
		<div id="infoAdicional" class="row">
			<div class="col-sm-4" id="dvCorreo2">
				<label asp-for="correo" col-form-label">Correo Electronico</label>
				<input type="text" name="InfoContacto[1].correo" id="CorreoElectronico2" class="form-control" />
			</div>

			<div class="col-sm-4" id="NumTelefono2">
				<label asp-for="NumTelefono" col-form-label">Número Telefonico</label>
				<input type="tel" name="InfoContacto[1].numeroTelefono" id="NumTelefono2" class="form-control" />
			</div>

			<div class="col-sm-4" id="Direccion2">
				<label asp-for="Direccion" col-form-label">Dirección de residencia</label>
				<input type="text" name="InfoContacto[1].numeroTelefono" id="Direccion2" class="form-control" />
			</div>
		</div>



	</div>

	<hr />
	<button type="submit" class="btn btn-primary">Crear Usuario</button>

</form>


<script>
	debugger
	document.addEventListener("DOMContentLoaded", function () {
		document.getElementById("Registrar").addEventListener('submit', ValidarFormulario);
	});

	function ValidarFormulario(evento) {
		evento.preventDefault();
		var respuesta = validarCampos();
		if (!respuesta) {
			$("#camposObligatorios").css("display", "block");
			$('html,body').scrollTop(0);
			return
		}
		this.submit();
	}

	function validarCampos() {

		var respuesta = true
		if (document.getElementById("correo1").value === '' && document.getElementById("CorreoElectronico2").value === '') {
			respuesta = false

		}

		if (document.getElementById("Direccion1").value === '' && document.getElementById("Direccion2").value === '') {
			respuesta = false

		}

		if (document.getElementById("NumTelefono2").value === '' && document.getElementById("NumTelefono2").value === '') {
			respuesta = false

		}

		return respuesta;
	}

	var inputNumDocumento = document.getElementById('NumDocumento');
	inputNumDocumento.addEventListener('input', function () {
		if (this.value.length > 12)
			this.value = this.value.slice(0, 12);
	})
	var inputNumTelfono1 = document.getElementById('NumTelefono1');
	inputNumTelfono1.addEventListener('input', function () {
		if (this.value.length > 10)
			this.value = this.value.slice(0, 10);
	})

	var inputNumTelfono2 = document.getElementById('NumTelefono2');
	inputNumTelfono2.addEventListener('input', function () {
		if (this.value.length > 10)
			this.value = this.value.slice(0, 10);
	})




</script>
